@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin :  0;
    padding :0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;  
}

nav
{

    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0,0,0,.5);
    z-index: 10;

}
.navbar-brand
{
    font-weight: 600;
}
.nav-link
{
    color: rgb(246, 255, 255) !important;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.nav-link:hover{
    border-bottom:  1px solid white;
}

section{
    width: 100%;
    min-height: 100vh;
}

/* Home Section */
#Home{
    
    height: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-top: 3%;
   
    justify-content:center ;
   
}
.imagee
{
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.name
{
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
    display:flex;
    align-items: center;
    justify-content: center;

}
.aboutt
{
       width: 100%;
       height: 150px;
        background-color: rgba(255, 255, 255, 0.814);
      justify-content: center;
      font-size: larger;
      align-items:center ;
     
       font-family:cursive;
      border-radius: 10px;
      margin-top: 15px;
      
}



#About
{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    display: flex;

}

.educat
{
    width: 900px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
   
   

}

/* skill Section */

#skill
{

    padding-top: 8% ;
    background-color: rgba(255, 255, 255, 0.905);
}

#skill .container
{
    margin-top: 6%;
    margin-bottom: 6%;

}
label
{
    font-size: larger;
}
.progress
{
    height: 25px !important;
    box-shadow: 2px 4px 5px gray , -2px -2px 5px white;
}
.progress:hover
{
    
    box-shadow: 2px 4px 5px rgb(180, 168, 168) , -2px -2px 5px gray;
}

/* certification Section */

#certification
{
    background-color: rgb(255, 255, 255);
    padding-top: 60px;
        
}
.titlebar
{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: serif;
    color: brown;
   

}
.containerer
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    
 
   
}
.containerer div
{
   
    height: 232px;
    color: rgb(255, 255, 255);
    margin: 20px;
    flex-basis: 20%;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgb(218, 193, 193) , -2px -2px 5px gray;

    
    
   
}
.containerer div:hover
{
    box-shadow: 2px 4px 9px rgb(126, 126, 126) , -2px -2px 5px gray;
    
    
}

/* contact Section */

#contact
{
    background-color: rgb(0, 0, 0);

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #000000;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #000000;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #281f1f;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.contactus
{
    width: 50%;
    background-color:rgb(0, 0, 0) ;
   
    margin-left: 35%;
   
    padding-top: 10%;
    
    color: rgb(255, 255, 255);
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

